div {
	height: 100px;
	width: 100px;
	display: inline-block;
	
	border-radius: 100px;	
}
input {
	margin: 50px;
	display: block;
}
#blue {
	background-color: blue;
}

#green {
	background-color: green;
}

#black {
	background-color: black;
}
.border-red {
	border: 5px solid red;
}